body {
        overflow: hidden;
        font-family: "verdana";
        background: linear-gradient(rgb(43, 54, 85), rgb(28, 211, 211));
}

.borde {
        border: 2px solid #546EC7
}

.login-page {
        width: 400px;
        padding: 8% 0 0;
        margin: auto;
}

.form {
        position: relative;
        z-index: 1;
        background: #9ea9c7 url(media/img/logo.jpg);
        max-width: 400px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        border-radius: 15px;
        box-shadow: 0 0 20px 0 rgba(134, 151, 207, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
        font-family: "verdana";
        outline: 0;
        background: #ffffff;
        width: 100%;
        border: 0;
        border-radius: 7px;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;

}

.form button {
        font-family: "verdana";
        text-transform: uppercase;
        outline: 0;
        background: #333333;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #bbbbbb;
        border-radius: 7px;
        font-size: 14px;
        -webkit-transition: all 1.0 ease;
        transition: all 1.0 ease;
        cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
        background: #0e2941;
}

.form .message {
        margin: 15px 0 0;
        color: #ffffff;
        font-size: 12px;
}

.form .message a {
        color: #ffffff;
        text-decoration: solid;
}

.form .register-form {
        display: none;
}